
build
*.log
package-lock.json

ecosystem.config.js
/public

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules
/public/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/connect.lock
npm-debug.log
